<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    @if (ViewData["GaTagId"] != null)
    {
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@ViewData["GaTagId"]');</script>
        <!-- End Google Tag Manager -->
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OmniCon by SEVENTH</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap" rel="stylesheet"> <!-- Font Awsome-->
    @if (ViewData["FontAwsome"] != null)
    {
        <script src="@ViewData["FontAwsome"]" crossorigin="anonymous"></script>
    }

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-256x256.png">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">

    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @await RenderSectionAsync("Header", required: false)
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    @if (ViewData["GaTagId"] != null)
    {
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@ViewData["GaTagId"]"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }
    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/@ViewData["Culture"]"><span class="logo-sub">OMNICON.cloud</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><span class="logo-sub">OMNICON.cloud</span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <!-- Conditional display based on user authentication status -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/en/usr">
                                        <i class="fa-solid fa-grid fa-fw"></i> Channels
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/identity/account/register">
                                        <span class="material-icons">person_add</span> Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/identity/account/login">
                                        <span class="material-icons">login</span> Login
                                    </a>
                                </li>
                            }

                        </ul>

                        <form action="/en/c/omnicon-doc-en" method="get" class="d-flex mt-3" role="search">

                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Search" name="keyword" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">
                                    <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="pt-4 text-center">
        &copy; 2023 - @DateTime.Now.Year <span class="logo-sub">OMNICON.cloud</span> by SEVENTH DATA Inc.,
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
