@using wppCms.Areas.Usr.Models
@model UsrAuthorsIndexViewModel

@{
    ViewData["ChannelId"] = Model.Channel.Channel.Id;
    ViewData["FontAwsome"] = Model.FontAwsomeUrl;
    ViewData["Culture"] = Model.Culture;
    ViewData["Title"] = "Authors";
    Layout = "~/Areas/Usr/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="d-flex justify-content-between">
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <!-- Button to trigger modal for adding a new author -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAuthorModal">
                <i class="fa-solid fa-plus fa-fw"></i>
            </button>
        </div>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["Message"]
        </div>
    }

    <hr />
    @if (Model.Authors.Count > 0)
    {
        <div class="row">
            @foreach (var item in Model.Authors)
            {
                <div class="col-md-3 col-6">
                    <div class="card">
                        <div class="ratio ratio-1x1">
                            <img src="@item.ProfileImageUrl"
                                 class="card-img-top"
                                 style="object-fit: cover;"
                                 alt="@item.Title" />
                        </div>
                        <div class="card-body">
                            <h4 class="font-lg">@item.Title</h4>
                            <div>@item.Text</div>
                            <!-- Edit button triggers modal for each author -->
                            <a href="/@Model.Culture/usr/channel/@item.ChannelId/author/@item.RowKey" class="btn btn-secondary mt-2">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No authors found.</p>
    }
</div>

<!-- Modal for Adding Author -->
<div class="modal fade" id="addAuthorModal" tabindex="-1" aria-labelledby="addAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAuthorModalLabel">Add New Author</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add Author Form -->
                <form action="/@Model.Culture/usr/author/create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="channelId" value="@Model.Channel.Channel.Id" />

                    <div class="mb-3">
                        <label for="authorTitle" class="form-label">Author Name</label>
                        <input type="text" class="form-control" id="authorTitle" required name="Title">
                    </div>

                    <div class="mb-3">
                        <label for="authorPermaName" class="form-label">PermaName (Unique)</label>
                        <input type="text" class="form-control" id="authorPermaName" required name="PermaName"
                               pattern="[a-z0-9\-]+"
                               title="PermaName must be lowercase and contain only letters, numbers, hyphens, and no spaces.">
                        <span asp-validation-for="PermaName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="authorProfileImage" class="form-label">Profile Image URL</label>
                        <input type="text" class="form-control" id="authorProfileImage" name="ProfileImageUrl">
                    </div>

                    <div class="mb-3">
                        <label for="authorText" class="form-label">Introduction</label>
                        <textarea class="form-control" id="authorText" required name="Text"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="publishSince" class="form-label">Publish Since</label>
                        <input type="date" class="form-control" id="publishSince" required name="PublishSince" value="@DateTimeOffset.UtcNow.ToString("yyyy-MM-dd")">
                    </div>

                    <div class="mb-3">
                        <label for="publishUntil" class="form-label">Publish Until (Optional)</label>
                        <input type="date" class="form-control" id="publishUntil" value="@DateTimeOffset.UtcNow.AddYears(30).ToString("yyyy-MM-dd")" required name="PublishUntil">
                    </div>

                    <div class="my-2 text-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-cloud-arrow-up fa-fw"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>