@using wppCms.Areas.Admin.Models
@model AdminUsersIndexViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@Model.Culture/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between">
        <div>
            <h1>Manage Users</h1>
        </div>
        <div class="d-flex">
            <div class="px-1"><a href="/@Model.Culture/admin/organizations">Organizations</a></div>
            <div class="px-1"><a href="/@Model.Culture/admin/users/roles">Roles</a></div>
        </div>
    </div>


    <!-- Search form -->
    <form method="get" class="my-2">
        <div class="my-1">
            <input type="text" name="keyword" class="form-control" placeholder="Search..." value="@Model.PaginatedUsers.Keyword" />
        </div>
        <div class="my-1">
            <div class="form-check">
                @if (Model.ShowOnlyEmailConfirmed)
                {
                    <input class="form-check-input" checked type="checkbox" value="true" name="showOnlyEmailConfirmed" id="chkEmailConfirmedOnly">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" value="true" name="showOnlyEmailConfirmed" id="chkEmailConfirmedOnly">
                }

                <label class="form-check-label" for="chkEmailConfirmedOnly">
                    Show ONLY Email Confirmed
                </label>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- Sort options -->
    <div class="mb-3">
        <a href="?sort=username_asc&keyword=@Model.PaginatedUsers.Keyword" class="btn btn-link">Sort by Username Ascending</a>
        <a href="?sort=username_desc&keyword=@Model.PaginatedUsers.Keyword" class="btn btn-link">Sort by Username Descending</a>
    </div>

    <!-- Users table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Email Confirmed</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userViewModel in Model.PaginatedUsers.Items)
            {
                <tr>
                    <td>
                        <a href="/@Model.Culture/admin/users/@userViewModel.User.Id">
                            @userViewModel.User.Id
                        </a>
                    </td>
                    <td>@userViewModel.User.UserName</td>
                    <td>@userViewModel.User.Email</td>
                    <td>@userViewModel.User.EmailConfirmed</td>
                    <td>
                        @foreach (var role in userViewModel.Roles)
                        {
                            <span>@role.Name</span>

                            <br />
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination controls -->
    <nav>
        <div class="d-flex flex-wrap">
            @for (var i = 1; i <= Model.PaginatedUsers.TotalPages; i++)
            {
                if (Model.PaginatedUsers.CurrentPage == i)
                {
                    <div class="m-1">
                        <button disabled class="btn btn-sm btn-secondary"
                                href="?page=@i&itemsPerPage=@Model.PaginatedUsers.ItemsPerPage&keyword=@Model.PaginatedUsers.Keyword&sort=@Model.PaginatedUsers.Sort&showOnlyEmailConfirmed=@Model.ShowOnlyEmailConfirmed">
                            @i
                        </button>
                    </div>
                }
                else
                {
                    <div class="m-1">
                        <a class="btn btn-sm btn-primary"
                           href="?page=@i&itemsPerPage=@Model.PaginatedUsers.ItemsPerPage&keyword=@Model.PaginatedUsers.Keyword&sort=@Model.PaginatedUsers.Sort&showOnlyEmailConfirmed=@Model.ShowOnlyEmailConfirmed">@i</a>

                    </div>
                }
            }
        </div>
    </nav>
</div>
