@using wppCms.Areas.Admin.Models
@model AdminUsersOrganizationsViewModel

@{
    ViewData["Title"] = "Organizations";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@Model.Culture/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between">
        <div>
            <h1>Manage Organizations</h1>
        </div>
        <div>
        </div>
    </div>


    <!-- Search form -->
    <form method="get" class="my-2">
        <div class="my-1">
            <input type="text" name="keyword" class="form-control" placeholder="Search..." value="@Model.Organizations.Keyword" />
        </div>
        <div class="my-1">
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- Sort options -->
    <div class="mb-3">
        <a href="?sort=username_asc&keyword=@Model.Organizations.Keyword" class="btn btn-link">Sort by Name Ascending</a>
        <a href="?sort=username_desc&keyword=@Model.Organizations.Keyword" class="btn btn-link">Sort by Name Descending</a>
    </div>

    <!-- Users table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in Model.Organizations.Items)
            {
                <tr>
                    <td>
                        <a href="/@Model.Culture/admin/organization/@org.OrganizationId">
                            @org.OrganizationId
                        </a>
                    </td>
                    <td>@org.OrganizationName</td>
                    <td>@org.OrganizationType</td>
                    <td>
                        @org.OrganizationCountry<br />
                        @org.OrganizationState<br />
                        @org.OrganizationCity<br />
                        @org.OrganizationAddress
                    </td>

                    <td>
                        @org.OrganizationEmail
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination controls -->
    <nav>
        <div class="d-flex flex-wrap">
            @for (var i = 1; i <= Model.Organizations.TotalPages; i++)
            {
                if (Model.Organizations.CurrentPage == i)
                {
                    <div class="m-1">
                        <button disabled class="btn btn-sm btn-secondary"
                                href="?page=@i&itemsPerPage=@Model.Organizations.ItemsPerPage&keyword=@Model.Organizations.Keyword&sort=@Model.Organizations.Sort">
                            @i
                        </button>
                    </div>
                }
                else
                {
                    <div class="m-1">
                        <a class="btn btn-sm btn-primary"
                           href="?page=@i&itemsPerPage=@Model.Organizations.ItemsPerPage&keyword=@Model.Organizations.Keyword&sort=@Model.Organizations.Sort">@i</a>

                    </div>
                }
            }
        </div>
    </nav>
</div>
