@using wppCms.Areas.Advertiser.Models
@model AdvertiserHomeAdGroupDetailsViewModel

@{
    ViewData["Title"] = "Ad Group Details";
    Layout = "~/Areas/Advertiser/Views/Shared/_Layout.cshtml";
    ViewData["GaTagId"] = Model.GaTagId;
    ViewData["FontAwsome"] = Model.FontAwsomeUrl;
    ViewData["Culture"] = Model.Culture;
    ViewData["ChannelId"] = Model.Channel.Channel.Id;
}

<div class="container my-5">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-md-6 my-2">
            <p>
                <a href="/@Model.Culture/ads/organization/@Model.Channel.Channel.Id/campaign/@Model.AdCampaign.RowKey" class="text-decoration-none text-dark">
                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                </a>
            </p>
            <div class="card card-body mb-4">

                <h2>@Model.AdGroup.Name (@Model.AdGroup.Status)</h2>
                <p><i class="fa-solid fa-hammer-crash fa-fw"></i> @Model.AdGroup.Bid.ToString("N0")</p>
                <p><strong>Campaign:</strong> @Model.AdCampaign.Name</p>
            </div>

        </div>
        <div class="col-md-6 my-2">

            <div class="d-flex justify-content-between">
                <div>
                    <h3>Ad Creatives</h3>
                </div>
                <div>
                    <!-- Button to trigger modal for creating a new ad creative -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createAdCreativeModal">
                        <i class="fa-solid fa-plus fa-fw"></i>
                    </button>
                </div>
            </div>

            <!-- Modal for creating a new ad creative -->
            <div class="modal fade" id="createAdCreativeModal" tabindex="-1" aria-labelledby="createAdCreativeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createAdCreativeLabel">Create New Ad Creative</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createAdCreativeForm" method="post" action="/@Model.Culture/ads/organization/@Model.Channel.Channel.Id/campaign/@Model.AdCampaign.RowKey/adgroup/@Model.AdGroup.RowKey/addad">
                                <div class="my-2">
                                    <select class="form-select" name="adId">
                                        @foreach (var addable in Model.AddableCreatives)
                                        {
                                            <option value="@addable.RowKey">@addable.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="my-2">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-solid fa-cloud-arrow-up fa-fw"></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.AddedCreatives != null)
            {
                <!-- Search Form for Ad Creatives -->
                <form method="get">
                    <div class="d-flex">
                        <div class="px-1">
                            <input type="text" id="keyword" name="keyword" class="form-control" value="@Model.Keyword" placeholder="Enter keyword...">
                        </div>
                        <div class="px-1">
                            <select id="sort" name="sort" class="form-control">
                                <option value="">-- Sort --</option>
                                <option value="Name" @(Model.Sort == "Name" ? "selected" : "")>Name</option>
                                <option value="Type" @(Model.Sort == "Type" ? "selected" : "")>Type</option>
                            </select>
                        </div>
                        <div class="px-1">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                            </button>
                        </div>
                    </div>

                </form>

                <!-- Ad Creatives Table -->
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var creative in Model.AddedCreatives)
                        {
                            <tr>
                                <td>@creative.Name</td>
                                <td>@creative.Type</td>
                                <td>
                                    @creative.Content
                                    <div>
                                        @creative.TextTitle
                                    </div>
                                    <div>
                                        @creative.TextAdDescription
                                    </div>
                                    <div>
                                        <a href="@creative.RedirectUrl" target="_blank">
                                            @creative.RedirectUrl
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            }
            else
            {

            }
        </div>
    </div>



</div>
